/* styles.css */

.outer-square {
  width: 600px;
  height: 600px;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.inner-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  width: calc(100% - 20px); /* 10px padding on each side */
  height: calc(100% - 20px);
  background-color: green;
}

.circle {
  width: calc(100% - 20px); /* 10px padding on each side */
  height: calc(100% - 20px);
  background-color: blue;
  border-radius: 50%; /* to create a circle */
}
